body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg,
            rgb(214, 250, 255),
            #e8f4ff,
            rgb(225, 227, 254),
            rgb(237, 233, 252));
    background-size: 400% 400%;
    animation: gradientBG 12s ease infinite;
    color: #070c24;
}


.page-header {
    width: 100%;
    height: 60px;
    background-color: #91e5ff;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-header h2 {
    margin-left: 20px;
}

.top-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 3vw;
    width: 60%;
    margin-right: 10px;
}

.top-menu a {
    color: #000000;
}

.top-menu .search-block {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 40px;
    margin: 5px;
}

input#searchInput {
    width: 20vw;
    border-radius: 10px 0px 0px 10px;

}

.login-head {
    text-decoration: double;
}

.main-container {
    width: 70vw;
    padding: 20px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

.user-container {
    padding: 10px;
    width: 50vw;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.user-data {
    padding: 4px;
    font-size: 0.35 em;

}

.form-container {
    height: fit-content;
    padding: 10px;
    margin: 10px auto;
    width: 30vw;
    border-radius: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;

}



.form-container:hover {
    box-shadow: 0 0 15px rgba(22, 0, 185, 1);
    padding: 10px;
}

.form-elem {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form-label {
    width: 10vw;
}


input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 5px;
    height: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error {
    color: #ffffff;
    padding: 5px;
    height: 15px;
    margin-left: 120px;
    width: fit-content;
    border-radius: 6px;
    font-size: .5em;
    animation: shake 0.3s ease;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-4px);
    }

    50% {
        transform: translateX(4px);
    }

    75% {
        transform: translateX(-4px);
    }

    100% {
        transform: translateX(0);
    }
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}



.bt-login {

    width: 80px;
    color: #fff;
    padding: 8px;
    background-color: #011477;
    border: 1px solid #2f00bd;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    box-shadow: 1px 0 5px rgba(0, 21, 255, 0.5);
    transition: 0.3s all ease;
}

.bt-logout,
.bt-edit {
    width: fit-content;
    color: #000000;
    padding: 5px;
    background-color: #fee3e3;
    border: 1px solid #bd0000;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 1px 0 5px rgba(255, 0, 0, 0.5);
    transition: 0.3s all ease;
}



.bt-logout:hover,
.bt-edit:hover {
    padding: 8px;
    font-weight: bold;
    border-color: #ff0000;
    background-color: #8e3636;
    color: #fff;
    box-shadow: 2px 1px 5px rgba(255, 0, 0, 0.7);
}

.edit-btns {
    width: 60%;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 10px;
}


.bt-edit-search {
    width: fit-content;
    color: #000000;
    padding: 8px;
    background-color: #ffffff;
    border: 1px solid #bd0000;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 0 5px rgba(255, 0, 0, 0.5);
    background-color: #fff2f2;
    border: 1px ridge #ffffff;
    border-radius: 0px 10px 10px 0px;
    transition: 0.3s all ease;
}

i.fa-solid {
    margin-left: 5px;
}

a {
    text-decoration: none;
}

.bt-login:hover {
    font-weight: bold;
    padding: 10px;
    border-color: #4609ff;
    background-color: #11019f;
    box-shadow: 2px 1px 5px rgba(35, 1, 255, 0.7);
}

.user-table {
    width: 800px;

    border-collapse: collapse;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.user-table th {
    width: 30%;
    text-align: right;
    padding: 10px;
    background-color: #9ebedd;
    color: rgb(33, 17, 17);
    padding: 12px;
}

.user-table td {
    width: 70%;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.user-table tr:hover {
    background-color: #d9d9d9;
}

.page-footer {
    margin-top: auto;
    text-align: center;
    width: 100%;
    background: white;
}

.footer-line {
    margin-bottom: 10px;
}