<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MediCity Register</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/register.css">
</head>

<body>
  <header class="topbar"></header>

  <section class="logo-area">
    <div class="logo"><span>+</span>Medi<span class="blue">City</span></div>
  </section>

  <section class="hero">
    <h1>Modernizing healthcare management systems.</h1>
    <p>Empowering medical professionals with intelligent workflows and secure data architecture.
      Medicity is the foundation for next-generation patient care.</p>
  </section>

  <section class="card">
    <h2>Create Account</h2>
    <p>Join the Medicity professional network today.</p>
{{if .error}}
        <div class="error" style="color: brown;">{{.error}}</div>
        {{end}}
    <form method="post" action="/doctor/signup">
      <div class="grid">
        <div class="field">
          <label>FIRST NAME *</label>
          <input type="text" placeholder="Enter your full name" name="firstName" id="firstName">
        </div>

        <div class="field">
          <label>LAST NAME *</label>
          <input type="text" placeholder="Enter your full name" name="lastName" id="lastName">
        </div>

        <div class="field">
          <label>PHONE *</label>
          <input type="tel" placeholder="Enter your phone" name="phone" id="phone">
        </div>

        <div class="field">
          <label>EMAIL ADDRESS</label>
          <input type="email" placeholder="dr.name@hospital.org" name="email" id="email">
        </div>

        <div class="field">
          <label>SECURITY PASSWORD *</label>
          <input type="password" placeholder="••••••••" name="password" id="password">
        </div>

        <div class="field">
          <label>CONFIRM PASSWORD *</label>
          <input type="password" placeholder="••••••••" name="confirm_password" id="confirm_password">
        </div>
      </div>

      <div class="terms">
        <input type="checkbox">
        <span>I agree to the Terms of Practice and Privacy Protocols.</span>
      </div>

      <button type="submit">Create Account →</button>
    </form>
  </section>

  <footer>
    © 2026 MediCity Hospital. All Rights Reserved.
  </footer>

</body>

</html>