<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediCity Login</title>

          <link rel="stylesheet" href="/static/css/style.css">


    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&family=Public+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>

<header>

    <div class="top-bar">
        <button class="signup-btn">Sign Up</button>
    </div>

    <div class="logo-bar">
        <h1>
            <span class="green">+</span>
            <span class="green">Medi</span><span class="blue">City</span>
        </h1>
    </div>

</header>

<main>
    
    <section class="register-hero">

    <div class="hero-content">

        <h1>Modernizing healthcare management systems.</h1>

        <p>
            Empowering medical professionals with intelligent workflows and
            secure data architecture. Medicity is the foundation for
            next-generation patient care.
        </p>

    </div>

</section>

<section class="register-container">

    <div class="register-card">

        <div class="card-heading">

            <h2>Create Account</h2>

            <p>Join the Medicity professional network today.</p>

        </div>

        <form>

            <div class="form-grid">

                <div class="form-group">
                    <label>FIRST NAME <span>*</span></label>
                    <input
                        type="text"
                        placeholder="Enter your full name">
                </div>

                <div class="form-group">
                    <label>LAST NAME <span>*</span></label>
                    <input
                        type="text"
                        placeholder="Enter your full name">
                </div>

                <div class="form-group">
                    <label>PHONE <span>*</span></label>
                    <input
                        type="text"
                        placeholder="Enter your phone">
                </div>

                <div class="form-group">
                    <label>EMAIL ADDRESS</label>
                    <input
                        type="email"
                        placeholder="dr.name@hospital.org">
                </div>

                <div class="form-group password">

                    <label>SECURITY PASSWORD <span>*</span></label>

                    <div class="password-box">

                        <input
                            type="password"
                            placeholder="••••••••">

                        <i class="fa-regular fa-eye"></i>

                    </div>

                </div>

                <div class="form-group password">

                    <label>CONFIRM PASSWORD <span>*</span></label>

                    <div class="password-box">

                        <input
                            type="password"
                            placeholder="••••••••">

                        <i class="fa-regular fa-eye"></i>

                    </div>

                </div>

            </div>

            <div class="terms">

                <input type="checkbox">

                <p>

                    I agree to the

                    <a href="#">Terms of Practice</a>

                    and

                    <a href="#">Privacy Protocols</a>

                </p>

            </div>

            <button type="submit" class="create-btn">

                CREATE ACCOUNT

                <i class="fa-solid fa-arrow-right"></i>

            </button>

        </form>

    </div>

</section>


</main>

<footer>

© 2026 MediCity Hospital. All Rights Reserved.

</footer>

</body>
</html>