<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/style.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new User</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <style>

    </style>
</head>

<body>
    <header class="page-header">
        <h2 class="site-title">Admin Dashboard</h2>
        <div class="top-menu"> <a href="/admin/dashboard">Dashboard<i class="fa-solid fa-up-right-from-square"></i></a>
            <a href="/admin/dashboard/create">Create user</a>
            <form class="search-block" action="/admin/dashboard" method="GET"
                style="display: flex; gap: 10px;width: 40%;">
                <input type="text" placeholder="Search by name or email" id="searchInput" name="search">
                <button class="bt-edit" type="submit" name="search">search</button>
                <button class="bt-edit" id="bt-clear" type="submit" name="clear">clear</button>

            </form>

            <a href="/logout"><button class="bt-logout">Logout<i
                        class="fa-solid fa-right-from-bracket"></i></button></a>
        </div>
    </header>
    <main class="main-container">
        <h2 class="login-head">Create New User</h2>


        <div class="form-container">
            <form action="/admin/createUser" onsubmit="return validateForm()" method="POST" class="login-form"
                id="signup" name="Signup">
                <div class="form-elem"><label class="form-label"> Name : </label><input type="text" name="name"
                        id="name" onblur="checkName()">
                </div>
                <div id="nameError" class="error"></div>

                <div class="form-elem"><label class="form-label"> Email : </label><input type="text" name="email"
                        onblur="checkEmail()" id="email"></div>
                <div id="emailError" class="error"></div>

                <div class="form-elem"><label class="form-label"> Password : </label><input type="password"
                        name="password" id="password" onblur="checkPassword()"></div>
                <div id="passwordError" class="error"></div>

                <div class="form-elem"><label class="form-label"> Role : </label>
                    <input type="radio" name="role" id="user_role" value="user" checked><label
                        for="user_role">User</label>
                    <input type="radio" name="role" id="admin_role" value="admin"><label for="admin_role">Admin</label>

                </div>
                <div class="form-elem"> <button class="bt-login" type="submit" name="bt-sign" id="bt-sign">Sign
                        Up</button>
                </div>


            </form>
        </div>
    </main>
    <footer class="page-footer">
        <hr class="footer-line">
        <p>&copy; 2023 . All rights reserved.</p>
    </footer>
    <script>
        function checkName() {
            const input = document.getElementById("name");
            const error = document.getElementById("nameError");


            if (input.value.trim() === "") {
                error.textContent = "Field is empty!!";
                error.style.backgroundColor = "#ff0000";

            }
            else if (!/^[A-Za-z]+([-' ][A-Za-z]+)*$/.test(input.value.trim())) {
                error.textContent = "Name should contain only letters!!";
                error.style.backgroundColor = "#ff0000";


            }
            else {
                error.textContent = ""; error.style.backgroundColor = "";
                return true;

            }
        }

        function checkEmail() {
            const input = document.getElementById("email");
            const error = document.getElementById("emailError");


            if (input.value.trim() === "") {
                error.textContent = "Field is empty!!"; error.style.backgroundColor = "#ff0000";

            }
            else if (!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(input.value.trim())) {
                error.textContent = "This is not a valid email iddd!!";
                error.style.backgroundColor = "#ff0000";
            }
            else {
                error.textContent = ""; error.style.backgroundColor = ""; return 1;
            }
        }


        function checkPassword() {
            const input = document.getElementById("password");
            const error = document.getElementById("passwordError");


            if (input.value.trim() === "") {
                error.textContent = "Field is empty!!";
                error.style.backgroundColor = "#ff0000";

            }
            else if (input.value.trim().length < 8) {
                error.textContent = "password must contain atleast 8 characters";
                error.style.backgroundColor = "#ff0000";
            }
            else {
                error.textContent = ""; error.style.backgroundColor = ""; return 1;
            }
        }
        function validateForm() {
            let name = document.getElementById("name").value;
            let email = document.getElementById("email").value;
            let password = document.getElementById("password").value;
            let emailError = document.getElementById("emailError");
            let passwordError = document.getElementById("passwordError");
            let nameError = document.getElementById("nameError");
            let emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            let flag = 1;
            if (name === "") {
                nameError.textContent = "Name is required";
                nameError.style.backgroundColor = "#ff0000";
                flag = 0;
            }
            else if (!/^[A-Za-z]+([-' ][A-Za-z]+)*$/.test(name.trim())) {
                nameError.textContent = "Name should contain only letters!!";
                nameError.style.backgroundColor = "#ff0000";
                flag = 0;
            }
            else {
                nameError.textContent = ""; nameError.style.backgroundColor = "";
            }


            if (email === "") {
                emailError.textContent = "Email is required";
                emailError.style.backgroundColor = "#ff0000";
                flag = 0;
            }
            else if (!email.match(emailPattern)) {
                emailError.textContent = "Please enter a valid email address";
                emailError.style.backgroundColor = "#ff0000";
                flag = 0;
            }
            else {
                emailError.textContent = ""; emailError.style.backgroundColor = "#ff0000";
            }
            if (password === "") {
                passwordError.textContent = "Password is required";
                passwordError.style.backgroundColor = "#ff0000";
                flag = 0;

            }
            else if (password.length < 8) {
                passwordError.textContent = "Password must be at least 8 characters";
                passwordError.style.backgroundColor = "#ff0000";
                flag = 0;
            }
            else {
                passwordError.textContent = ""; passwordError.style.backgroundColor = "";
            }
            if (flag == 0) {
                return false;
            } else {
                return true;
            }
        }
    </script>
</body>

</html>