<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
    <header class="page-header">
        <h1 class="site-title">Create New Account</h1>
    </header>
    <main class="main-container">
        <div class="form-container">
            <h2 class="login-head">Sign Up</h2>

            <form action="/signup" onsubmit="return validateForm()" method="POST" class="login-form" id="signup"
                name="Signup">
                <div class="form-elem"><label class="form-label"> Name : </label><input type="text" name="name"
                        id="name" onblur="checkName()">
                </div>
                <div id="nameError" class="error"></div>

                <div class="form-elem"><label class="form-label"> Email : </label><input type="text" name="email"
                        onblur="checkEmail()" id="email"></div>
                <div id="emailError" class="error"></div>

                <div class="form-elem"><label class="form-label"> Password : </label><input type="password"
                        name="password" id="password" onblur="checkPassword()"></div>
                <div id="passwordError" class="error"></div>

 <div class="form-elem"><label class="form-label">Confirm Password : </label> <input type="password" name="confirm_password"
                    id="confirm_password" onblur="checkConfirmPassword()"></div>
            <div id="confirmPasswordError" class="error"></div>
          
                <div class="form-elem"> <button class="bt-login" type="submit" name="bt-sign" id="bt-sign">Sign
                        Up</button>
                </div>


            </form>
            <div class="form-elem"> Already have an
                account<a href="/login"><b>Sign in </a></b></div>
        </div>
    </main>
    <footer class="page-footer">
        <hr class="footer-line">
        <p>&copy; 2023 . All rights reserved.</p>
    </footer>
    <script>
        function checkName() {
            const input = document.getElementById("name");
            const error = document.getElementById("nameError");


            if (input.value.trim() === "") {
                error.textContent = "Field is empty!!";
                error.style.backgroundColor = "#ff0000";

            }
            else if (!/^[A-Za-z]+([-' ][A-Za-z]+)*$/.test(input.value.trim())) {
                error.textContent = "Name should contain only letters!!";
                error.style.backgroundColor = "#ff0000";


            }
            else {
                error.textContent = ""; error.style.backgroundColor = "";
                return true;

            }
        }

        function checkEmail() {
            const input = document.getElementById("email");
            const error = document.getElementById("emailError");


            if (input.value.trim() === "") {
                error.textContent = "Field is empty!!"; error.style.backgroundColor = "#ff0000";

            }
            else if (!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(input.value.trim())) {
                error.textContent = "This is not a valid email iddd!!";
                error.style.backgroundColor = "#ff0000";
            }
            else {
                error.textContent = ""; error.style.backgroundColor = ""; return 1;
            }
        }


        function checkPassword() {
            const input = document.getElementById("password");
            const error = document.getElementById("passwordError");


            if (input.value.trim() === "") {
                error.textContent = "Field is empty!!";
                error.style.backgroundColor = "#ff0000";

            }
            else if (input.value.trim().length < 8) {
                error.textContent = "password must contain atleast 8 characters";
                error.style.backgroundColor = "#ff0000";
            }
            else {
                error.textContent = ""; error.style.backgroundColor = ""; return 1;
            }
        }
        function validateForm() {
            let name = document.getElementById("name").value;
            let email = document.getElementById("email").value;
            let password = document.getElementById("password").value;
            let emailError = document.getElementById("emailError");
            let passwordError = document.getElementById("passwordError");
            let nameError = document.getElementById("nameError");
            let emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            let flag = 1;
            if (name === "") {
                nameError.textContent = "Name is required";
                nameError.style.backgroundColor = "#ff0000";
                flag = 0;
            }
            else if (!/^[A-Za-z]+([-' ][A-Za-z]+)*$/.test(name.trim())) {
                nameError.textContent = "Name should contain only letters!!";
                nameError.style.backgroundColor = "#ff0000";
                flag = 0;
            }
            else {
                nameError.textContent = ""; nameError.style.backgroundColor = "";
            }


            if (email === "") {
                emailError.textContent = "Email is required";
                emailError.style.backgroundColor = "#ff0000";
                flag = 0;
            }
            else if (!email.match(emailPattern)) {
                emailError.textContent = "Please enter a valid email address";
                emailError.style.backgroundColor = "#ff0000";
                flag = 0;
            }
            else {
                emailError.textContent = ""; emailError.style.backgroundColor = "#ff0000";
            }
            if (password === "") {
                passwordError.textContent = "Password is required";
                passwordError.style.backgroundColor = "#ff0000";
                flag = 0;

            }
            else if (password.length < 8) {
                passwordError.textContent = "Password must be at least 8 characters";
                passwordError.style.backgroundColor = "#ff0000";
                flag = 0;
            }
            else {
                passwordError.textContent = ""; passwordError.style.backgroundColor = "";
            }
            if (flag == 0) {
                return false;
            } else {
                return true;
            }
        }
          function checkConfirmPassword() {
            const password = document.getElementById("password").value.trim();
            const confirmPassword = document.getElementById("confirm_password").value.trim();
            const error = document.getElementById("confirmPasswordError");

            if (confirmPassword === "") {
                error.textContent = "Field is empty!!";
                error.style.backgroundColor = "#ff0000";
            }
            else if (password !== confirmPassword) {
                error.textContent = "Passwords do not match";
                error.style.backgroundColor = "#ff0000";
            }
            else {
                error.textContent = "";
                error.style.backgroundColor = "";
                return 1;
            }
        }
    </script>
</body>

</html>